pegando dados

In [ ]:
import io, requests, pandas as pd, numpy as np
from bcb import sgs

In [30]:
m1 = sgs.get(27791, "2002-01-01").loc['2002-01-01':'2025-01-01']
m2 = sgs.get(27810, "2001-01-01").loc['2002-01-01':'2025-01-01']
m3 = sgs.get(27813, "2001-01-01").loc['2002-01-01':'2025-01-01']
m4 = sgs.get(27815, "2001-01-01").loc['2002-01-01':'2025-01-01']

In [31]:
display(m1,m2,m3,m4)

                27791
Date
2002-01-01   76291521
2002-02-01   75679717
2002-03-01   74996003
2002-04-01   76628516
2002-05-01   75674168
...               ...
2024-09-01  646946561
2024-10-01  624046032
2024-11-01  637926183
2024-12-01  677275508
2025-01-01  618269518

[277 rows x 1 columns]

                   27810
Date
2002-01-01  3.172732e+08
2002-02-01  3.181512e+08
2002-03-01  3.271253e+08
2002-04-01  3.258067e+08
2002-05-01  3.281684e+08
...                  ...
2024-09-01  6.372576e+09
2024-10-01  6.418306e+09
2024-11-01  6.498143e+09
2024-12-01  6.658393e+09
2025-01-01  6.544050e+09

[277 rows x 1 columns]

                   27813
Date
2002-01-01  6.286021e+08
2002-02-01  6.304995e+08
2002-03-01  6.421659e+08
2002-04-01  6.417692e+08
2002-05-01  6.418988e+08
...                  ...
2024-09-01  1.190576e+10
2024-10-01  1.196777e+10
2024-11-01  1.189621e+10
2024-12-01  1.210060e+10
2025-01-01  1.208353e+10

[277 rows x 1 columns]

                  27815
Date
2002-01-01    754307152
2002-02-01    753801974
2002-03-01    758774257
2002-04-01    761658308
2002-05-01    762389232
...                 ...
2024-09-01  13150675220
2024-10-01  13265375595
2024-11-01  13350581346
2024-12-01  13484592024
2025-01-01  13437937969

[277 rows x 1 columns]

In [62]:
pib = sgs.get(22099, "2002-01-01").loc['2002-01-01':'2025-01-01']

In [63]:
pib = pib.to_period('Q').to_timestamp('s')

In [64]:
pib

             22099
Date
2002-01-01  110.63
2002-04-01  115.41
2002-07-01  119.50
2002-10-01  119.24
2003-01-01  113.58
...            ...
2024-01-01  185.36
2024-04-01  190.43
2024-07-01  194.94
2024-10-01  189.51
2025-01-01  190.65

[93 rows x 1 columns]

In [51]:
# temos o pib em trimestral e os agregados em mensal, vamos transformar os agregados em mensal para evitar inserir interpolação
m1 = m1.resample('QE').mean().to_period("Q").to_timestamp("s")
m2 = m2.resample('QE').mean().to_period("Q").to_timestamp("s")
m3 = m3.resample('QE').mean().to_period("Q").to_timestamp("s")
m4 = m4.resample('QE').mean().to_period("Q").to_timestamp("s")

In [ ]:
# selic overnight
selic = sgs.get(4189, "2002-01-01").loc['2002-01-01':'2025-01-01']
selic = selic.resample('QE').mean().to_period("Q").to_timestamp("s")

In [69]:
selic

                 4189
Date
2002-01-01  18.913333
2002-04-01  18.283333
2002-07-01  17.966667
2002-10-01  21.290000
2003-01-01  25.686667
...               ...
2024-01-01  11.266667
2024-04-01  10.503333
2024-07-01  10.433333
2024-10-01  11.153333
2025-01-01  12.240000

[93 rows x 1 columns]

In [85]:
df = pd.merge(m1, m2, left_index=True, right_index=True).merge(m3, left_index=True, right_index=True).merge(m4, left_index=True, right_index=True).merge(pib, left_index=True, right_index=True).merge(selic, left_index=True, right_index=True)
df = df.rename(columns={'27791': 'm1','22099': 'pib', '4189': 'selic', '27810': 'm2', '27813': 'm3', '27815': 'm4'})

In [86]:
df

,m1,m2,m3,m4,pib,selic
Date,,,,,,
2002-01-01,7.565575e+07,3.208499e+08,6.337558e+08,7.556278e+08,110.63,18.913333
2002-04-01,7.801691e+07,3.330617e+08,6.417878e+08,7.634487e+08,115.41,18.283333
2002-07-01,8.789554e+07,3.695674e+08,6.527382e+08,7.671982e+08,119.50,17.966667
2002-10-01,9.880179e+07,3.918001e+08,6.799033e+08,7.914447e+08,119.24,21.290000
2003-01-01,9.280110e+07,3.911185e+08,7.045183e+08,8.156257e+08,113.58,25.686667
...,...,...,...,...,...,...
2024-01-01,6.007512e+08,5.892821e+09,1.103167e+10,1.214109e+10,185.36,11.266667
2024-04-01,6.338460e+08,6.117600e+09,1.141332e+10,1.259354e+10,190.43,10.503333
2024-07-01,6.455702e+08,6.344052e+09,1.184659e+10,1.306795e+10,194.94,10.433333
2024-10-01,6.464159e+08,6.524947e+09,1.198820e+10,1.336685e+10,189.51,11.153333
2025-01-01,6.182695e+08,6.544050e+09,1.208353e+10,1.343794e+10,190.65,12.240000

rodando regressão

In [87]:
from statsmodels.api import OLS, add_constant
def run_model(df, target, features):
    X = add_constant(df[features])
    y = df[target]
    model = OLS(y, X).fit()
    display(model.summary())
    return model

In [88]:
model_m1 = run_model(df, 'm1', ['pib', 'selic'])
model_m2 = run_model(df, 'm2', ['pib', 'selic'])
model_m3 = run_model(df, 'm3', ['pib', 'selic'])
model_m4 = run_model(df, 'm4', ['pib', 'selic'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     m1   R-squared:                       0.715
Model:                            OLS   Adj. R-squared:                  0.708
Method:                 Least Squares   F-statistic:                     112.7
Date:                Tue, 02 Sep 2025   Prob (F-statistic):           3.15e-25
Time:                        22:24:15   Log-Likelihood:                -1838.7
No. Observations:                  93   AIC:                             3683.
Df Residuals:                      90   BIC:                             3691.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -7.404e+08   1.22e+08     -6.076      0.000   -9.82e+08   -4.98e+08
pib         6.767e+06   6.18e+05     10.945      0.000    5.54e+06       8e+06
selic      -9.064e+05   2.72e+06     -0.334      0.739    -6.3e+06    4.49e+06
==============================================================================
Omnibus:                        6.426   Durbin-Watson:                   0.131
Prob(Omnibus):                  0.040   Jarque-Bera (JB):                6.326
Skew:                           0.591   Prob(JB):                       0.0423
Kurtosis:                       2.514   Cond. No.                     1.98e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     m2   R-squared:                       0.680
Model:                            OLS   Adj. R-squared:                  0.672
Method:                 Least Squares   F-statistic:                     95.44
Date:                Tue, 02 Sep 2025   Prob (F-statistic):           5.72e-23
Time:                        22:24:15   Log-Likelihood:                -2054.9
No. Observations:                  93   AIC:                             4116.
Df Residuals:                      90   BIC:                             4123.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.019e+10   1.25e+09     -8.174      0.000   -1.27e+10   -7.71e+09
pib         7.374e+07   6.32e+06     11.662      0.000    6.12e+07    8.63e+07
selic       6.325e+07   2.78e+07      2.276      0.025    8.05e+06    1.18e+08
==============================================================================
Omnibus:                        5.223   Durbin-Watson:                   0.118
Prob(Omnibus):                  0.073   Jarque-Bera (JB):                3.225
Skew:                           0.267   Prob(JB):                        0.199
Kurtosis:                       2.261   Cond. No.                     1.98e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     m3   R-squared:                       0.691
Model:                            OLS   Adj. R-squared:                  0.684
Method:                 Least Squares   F-statistic:                     100.4
Date:                Tue, 02 Sep 2025   Prob (F-statistic):           1.19e-23
Time:                        22:24:15   Log-Likelihood:                -2114.6
No. Observations:                  93   AIC:                             4235.
Df Residuals:                      90   BIC:                             4243.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.819e+10   2.37e+09     -7.678      0.000   -2.29e+10   -1.35e+10
pib         1.377e+08    1.2e+07     11.457      0.000    1.14e+08    1.62e+08
selic       7.624e+07   5.28e+07      1.444      0.152   -2.87e+07    1.81e+08
==============================================================================
Omnibus:                       11.178   Durbin-Watson:                   0.105
Prob(Omnibus):                  0.004   Jarque-Bera (JB):                3.655
Skew:                           0.015   Prob(JB):                        0.161
Kurtosis:                       2.029   Cond. No.                     1.98e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     m4   R-squared:                       0.690
Model:                            OLS   Adj. R-squared:                  0.683
Method:                 Least Squares   F-statistic:                     100.0
Date:                Tue, 02 Sep 2025   Prob (F-statistic):           1.35e-23
Time:                        22:24:15   Log-Likelihood:                -2122.7
No. Observations:                  93   AIC:                             4251.
Df Residuals:                      90   BIC:                             4259.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -2.035e+10   2.58e+09     -7.875      0.000   -2.55e+10   -1.52e+10
pib         1.522e+08   1.31e+07     11.607      0.000    1.26e+08    1.78e+08
selic       1.002e+08   5.76e+07      1.739      0.085   -1.42e+07    2.15e+08
==============================================================================
Omnibus:                        9.166   Durbin-Watson:                   0.109
Prob(Omnibus):                  0.010   Jarque-Bera (JB):                3.319
Skew:                           0.026   Prob(JB):                        0.190
Kurtosis:                       2.076   Cond. No.                     1.98e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""